useDynLib(machineRy)

import(methods)
import(stats)
import(utils)
importFrom("igraph", "as_data_frame", "cluster_label_prop")
importFrom("SynExtend", "dendrapply")

S3method(show, "DecisionTree")
S3method(show, "RandForest")
S3method(print, "RandForest")
S3method(print, "DecisionTree")
S3method(predict, "RandForest")
S3method(as.dendrogram, "DecisionTree")
S3method(plot, "DecisionTree")

export(LP_igraph)
export(RandForest)
export(deparse_communities)
export(fastlabel_oom)
